<!-- This is the layout and will extend to all pages-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="images" href="/images">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Bowlby+One+SC|Caveat+Brush|Didact+Gothic|Fredoka+One|Gaegu|Gochi+Hand|Homemade+Apple|Knewave|Maven+Pro:900|Pacifico|Poor+Story|Shadows+Into+Light|Titan+One" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>

      <body style="height:1500px">
  <header>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div id="branding">
            </div><br>
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                  <img src="" alt="">
                      <li class="team">Team<span class="highlight"> 1 </span> </li>
                    <li class="home"><a href="/">HOME</a></li>
                    <li><a href="/member/1">SALVADORA</a></li>
                    <li><a href="/member/2">NOFUENTE</a></li>
                </ul>
              </div>
          </div>

        </nav>
 </header>

    {{{body}}}
    <div class="footer">
      <p><p/>
    </div>
  </body>
</html>
