
<p class="headername" id="pong"> JOHN PAUL NOFUENTE </p>

<div class="row">
  <div class="column side">
    <div class="pong2">
    <h2 class="picture2" id="prof">Profile</h2>
    <img src="/images/profilepicno.jpg" class="profnof" alt="" width="400" height="400">

  </div>
  </div>
  <div class="column middle">
    <h2 id="prof"><b>All About Me<b></h2>
      <br>
      <br>

      <div class="info1">
        <tr>
          <th>Full Name:  John Paul A. Nofuente </th> <br>
          <th>Age:        21 </th> <br>
          <th>Birthdate:  July 9, 1997 </th> <br>
          <th>Birthplace: Muntinlupa City </th><br>
          <th>Sex:        Male</th><br>
        </tr>
      </div>

      <br>
      <p id="pongdes"> I am John Paul A. Nofuente. I am currently studying Bachelor of Science in Computer Engineering at the Polytechnnic University of the Philippines as a
        fifth year student. I'm interested at games, photography and nature. Together with my team mate, Angelika Salvadora, we created a web application that showcases
        are profile using NodeJS, Express JS, Handlebars, Bootstrap and CSS.
  </div>
  <div class="column side">
    <h2 id="prof"><b>Social Media Links</b></h2>
    <br>
    <br>
    <div class="row">
  <div class="col-sm-4">
      <a href="https://www.facebook.com/jpanofuente" target="_blank">
<img src="https://image.flaticon.com/icons/png/512/69/69407.png" alt="" id="facebook" > </a>
  </div>
  <div class="col-sm-4">

    <a href="https://twitter.com/jpanofuente" target="_blank">
<img src="https://png.icons8.com/metro/1600/twitter.png" alt="" id="twitter"> </a>
  </div>
  <div class="col-sm-4">

    <a href="https://www.instagram.com/jpa.nofuente" target="_blank">
    <img src="https://i1.wp.com/www.vectorico.com/wp-content/uploads/2018/02/Instagram-Logo.png?resize=300%2C300" alt="" id="instagram" > </a>
  </div>

</div>

<div class="skillbar">

<br>
<div class="container" id="skill">
  <div class="skills html" style="font-family: 'Gaegu'; font-size: 20px;">C++</div>
</div>
<br>
<div class="container">
  <div class="skills css" style="font-family: 'Gaegu'; font-size: 20px;">VISUAL BASIC</div>
</div>
<br>
<div class="container">
  <div class="skills js" style="font-family: 'Gaegu'; font-size: 20px; ">JAVA</div>
</div>
<br>
<div class="container" >
  <div class="skills php" style="font-family: 'Gaegu'; font-size: 20px;">IOS</div>
</div>

</div>

  </div>


</div>
<div class="container2">
  <h2 id="prof"><b>Hobbies and Interest</b></h2>
  <div class="row" >
    <div class="col-md-4">
      <div class="thumbnail" id="gam">
        <a target="_blank">
          <img src="/images/games.jpg" alt="Lights" style="width:100%" >
          <div class="caption">


<!-- start of modal for games -->
            <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="color:black; background:lightblue; border:white; font-size: 25px; font-family: 'Maven Pro', sans-serif;">
                                  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Games &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" >Games</h4>
        </div>
        <div class="modal-body">
          <!-- start modal -->
          <div class="row">

          <div class="col-sm-4">
              <img src="https://dl1.cbsistatic.com/i/r/2017/12/13/95309c49-a753-4404-9904-da01679709a7/resize/696xauto/3c0b85497fa3c5708f40733e4bba72b6/best-kids-games-guide-promo-570.png" style="width:100%" >
          </div>

          <div class="col-sm-4">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzjuZ5xwA8-thdOid89uLIk12VvqJrHqVhgveCeAsjlneEe7-vTg" style="width:100%" >
          </div>

          <div class="col-sm-4">
          <img src="http://gameranx.com/wp-content/uploads/2018/04/vkknu3pqbow7coarmlkd-700x394.jpg" style="width:100%" >
          </div>
          </div>
          <!-- end modal -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end of modal -->


          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a target="_blank">
          <img src="/images/photog.jpg" alt="Nature" style="width:100%" >
          <div class="caption">

            <!-- start of modal for games -->
                        <div class="container">
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2" style="color:white; background:black; border:white; font-size: 25px; font-family: 'Maven Pro', sans-serif;">
                                              &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp   Photography &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp &nbsp &nbsp &nbsp </button>

              <!-- Modal -->
              <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" >Photography</h4>
                    </div>
                    <div class="modal-body">
                      <!-- start modal -->
                      <div class="row">

                      <div class="col-sm-4">
                          <img src="https://www.adorama.com/alc/wp-content/uploads/2014/03/shutterstock_72863137.jpg" style="width:100%" >
                      </div>

                      <div class="col-sm-4">
                          <img src="https://i.ytimg.com/vi/1ItW5yz9L6M/maxresdefault.jpg" style="width:100%" >
                      </div>

                      <div class="col-sm-4">
                      <img src="https://timedotcom.files.wordpress.com/2017/01/camera-lead.jpg" style="width:100%" >
                      </div>
                      </div>
                      <!-- end modal -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- end of modal -->

          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a target="_blank">
          <img src="/images/nature.jpg" alt="Fjords" style="width:100%" >
          <div class="caption">
            <!-- start of modal for games -->
                        <div class="container">
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3" style="color:black; background:lightblue; border:white; font-size: 25px; font-family: 'Maven Pro', sans-serif;">
                                              &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Nature &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp &nbsp &nbsp &nbsp </button>

              <!-- Modal -->
              <div class="modal fade" id="myModal3" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" >Nature</h4>
                    </div>
                    <div class="modal-body">
                      <!-- start of modal body -->

                      <div class="row">

                      <div class="col-sm-4">
                          <img src="https://www.natureclubsurat.org/wp-content/uploads/2018/01/Home-2.jpg" style="width:100%" >
                      </div>

                      <div class="col-sm-4">
                          <img src="http://www.yesmagazine.org/happiness/what-happens-when-we-reconnect-with-nature/nature1.png/image" style="width:100%" >
                      </div>

                      <div class="col-sm-4">
                      <img src="https://pi.tedcdn.com/r/tedideas.files.wordpress.com/2017/11/featured_art_disappearing_sounds_istock.jpg?" style="width:100%" >
                      </div>
                      </div>

                      <!-- end of modal body -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- end of modal -->
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <img src="/images/b1.jpg" style="width:100%" >
    </div>
    <div class="column">
      <img src="/images/b2.jpg" style="width:100%" >
    </div>
    <div class="column">
      <img src="/images/b3.jpg" style="width:100%" >
    </div>
    <div class="column">
      <img src="/images/b4.jpg" style="width:100%" >
    </div>
    <div class="column">
      <img src="/images/b5.jpg" style="width:100%" >
    </div>
    <div class="column">
      <img src="/images/b6.jpg" style="width:100%" >
    </div>

  </div>

</div>
