
<div class="salva2">


<p class="headername" id="salva"> ANGELIKA SALVADORA </p>

<div class="row">
  <div class="column side">
    <h2 class="picture" id="prof">Profile</h2>
      <img src="/images/profilepic.jpg" alt="This Pic" class="forthewin" alt="">

  </div>
  <div class="column middle">
    <h2 id="prof"><b>All About Me<b></h2>
      <br>
      <br>
      <div class="info2">
      <tr>
        <th>Full Name:  Angelika Salvadora </th> <br>
        <th>Age:        20 </th> <br>
        <th>Birthdate:  June 8, 1998 </th> <br>
        <th>Birthplace: Makati City </th><br>
        <th>Sex:        Female</th><br>
      </tr>
    </div>
      <br>
      <p id="salvades">I am Angelika Salvadora. I am currently studying Bachelor of Science in Computer Engineering at the Polytechnnic University of the Philippines as a
        fifth year student. I'm interested at travel, food and technology. Together with my team mate, John Paul Nofuente, we created a web application that showcases
        are profile using NodeJS, Express JS, Handlebars, Bootstrap and CSS.
  </div>
  <div class="column side">
    <h2 id="prof"><b>Social Media Links</b></h2>
    <br>
    <br>
    <div class="row">
  <div class="col-sm-4">
    <a href="https://www.facebook.com/salvadoraangelika" target="_blank">
<img src="https://image.flaticon.com/icons/png/512/69/69407.png" alt="" id="facebook" > </a>
  </div>
  <div class="col-sm-4">
      <a href="https://www.twitter.com/angelikasalva" target="_blank">
<img src="https://png.icons8.com/metro/1600/twitter.png" alt="" id="twitter"> </a>
  </div>
  <div class="col-sm-4">
    <a href="https://www.instagram/itsmeysalvaaa" target="_blank">
    <img src="https://i1.wp.com/www.vectorico.com/wp-content/uploads/2018/02/Instagram-Logo.png?resize=300%2C300" alt="" id="instagram"> </a>
  </div>
</div>

<div class="skillbar">

<br>
<div class="container" id="skill">
  <div class="skills html" style="font-family: 'Gaegu'; font-size: 20px;">PHYTON</div>
</div>
<br>
<div class="container">
  <div class="skills css" style="font-family: 'Gaegu'; font-size: 20px;">PHP</div>
</div>
<br>
<div class="container">
  <div class="skills js" style="font-family: 'Gaegu'; font-size: 20px; ">RUBY/RAILS</div>
</div>
<br>
<div class="container" >
  <div class="skills php" style="font-family: 'Gaegu'; font-size: 20px;">JAVA</div>
</div>

</div>

  </div>
</div>

</div>

<div class="container2">
  <h2 id="prof"><b>Hobbies and Interest</b></h2>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a target="_blank">
          <img src="/images/travel.jpg" alt="Lights" style="width:100%">
          <div class="caption">

            <!-- start of modal for games -->
                        <div class="container">
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal4" style="color:black; background:lightpink; border:white; font-size: 25px; font-family: 'Maven Pro', sans-serif;">
                                              &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Travel &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp &nbsp &nbsp &nbsp </button>

              <!-- Modal -->
              <div class="modal fade" id="myModal4" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" >Travel</h4>
                    </div>
                    <div class="modal-body">
                      <!-- start of modal body -->
                      <div class="row">

                      <div class="col-sm-4">
                          <img src="https://lonelyplanetstatic.imgix.net/op-video-sync/images/production/p-5541832440001-brightcove-introducing-japan-20170922-054806.jpg" style="width:100%" >
                      </div>

                      <div class="col-sm-4">
                          <img src="https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1444253482/DG2015-san-francisco.jpg?itok=MdRJm2Zo" style="width:100%" >
                      </div>

                      <div class="col-sm-4">
                      <img src="http://hamdenregionalchamber.com/wp-content/uploads/2018/01/Greece-1080x675.jpg" style="width:100%" >
                      </div>
                      </div>
                      <br>

                      <p style="text-align:center; font-family: 'Gochi Hand', cursive; font-size: 25px;">A thing that most of people love is travelling. It’s like music, who doesn't love it? But when does it become a passion? I love to explore new places, I’m curious to know everything about the culture, people and, of course, about the language of the place I’m visiting. However, being a student, I don’t have much money to spend on going abroad</p>
                      <!-- end of modal body -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- end of modal -->

          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a target="_blank">
          <img src="/images/food.jpg" alt="Nature" style="width:100%" id="fo">
          <div class="caption">

            <!-- start of modal for games -->
                        <div class="container">
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal5" style="color:white; background:black; border:white; font-size: 25px; font-family: 'Maven Pro', sans-serif;">
                                              &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Food &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp &nbsp &nbsp &nbsp </button>

              <!-- Modal -->
              <div class="modal fade" id="myModal5" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" >Food</h4>
                    </div>
                    <div class="modal-body">
                      <!-- start of modal body -->
                      <div class="row">

                      <div class="col-sm-4">
                          <img src="https://i.ytimg.com/vi/-txwWeSfNg4/maxresdefault.jpg" style="width:100%" >
                      </div>

                      <div class="col-sm-4">
                          <img src="https://missconfig.files.wordpress.com/2015/05/samgyupsal.jpg" style="width:100%" >
                      </div>

                      <div class="col-sm-4">
                      <img src="https://images-gmi-pmc.edge-generalmills.com/7c1096c7-bfd0-4806-a794-1d3001fe0063.jpg" style="width:100%" >
                      </div>
                      </div>
                      <br>
                      <p style="text-align:center; font-family: 'Gochi Hand', cursive; font-size: 25px;"> Whenever I'm eating food, I feel so happy. I'm a type of person who likes to try new things that I haven't tried before. It excites me when I see something that is new to my eyes. I really like asian foods especially ramen. Eating food with my friends is also fun for me. I also tend to watch a lot of food reviews on Youtube. </p>
                      <!-- end of modal body -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- end of modal -->

          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a target="_blank">
          <img src="/images/tech.jpg" alt="Fjords" id="techno">
          <div class="caption">

            <!-- start of modal for games -->
                        <div class="container">
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal6" style="color:black; background:lightpink; border:white; font-size: 25px; font-family: 'Maven Pro', sans-serif;">
                                              &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Technology &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbsp &nbsp &nbsp &nbsp </button>

              <!-- Modal -->
              <div class="modal fade" id="myModal6" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" >Technology</h4>
                    </div>
                    <div class="modal-body">
                      <!-- start of modal body -->
                      <div class="row">

                      <div class="col-sm-4">
                          <img src="https://media.nature.com/w800/magazine-assets/d41586-018-00894-w/d41586-018-00894-w_15406864.jpg" style="width:100%" >
                      </div>

                      <div class="col-sm-4">
                          <img src="https://linustechtips.com/main/uploads/monthly_2017_05/m2.jpg.0e9191133f82e798a7c69801c9656d4a.jpg" style="width:100%" >
                      </div>

                      <div class="col-sm-4">
                      <img src="https://assets.macysassets.com/dyn_img/creativepages/Q7100007_cyber-week-2017-109-hero.jpg" style="width:100%" >
                      </div>
                      </div>
                      <br>
                      <p style="text-align:center; font-family: 'Gochi Hand', cursive; font-size: 25px;"> I am exposed to technologies since I was a kid because of my father. Technology fascinates me especially when I'm seeing what it was like before compare to what we have now. I love watching tech stuff and i feel like I always want to learn because I think that what i know right now is not even a quarter if you look at the whole book of tech. </p>
                      <!-- end of modal body -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- end of modal -->


          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <img src="/images/a1.jpg" style="width:100%" >
    </div>
    <div class="column">
      <img src="/images/a2.jpg" style="width:100%" >
    </div>
    <div class="column">
      <img src="/images/a3.jpg" style="width:100%" >
    </div>
    <div class="column">
      <img src="/images/a4.jpg" style="width:100%" >
    </div>
    <div class="column">
      <img src="/images/a5.jpg" style="width:100%" >
    </div>
    <div class="column">
      <img src="/images/a6.jpg" style="width:100%" >
    </div>

</div>
